@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 91%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  padding: 35px 0;
  border-bottom: 2px solid #58596C;
  position: absolute;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header-left { flex-basis: 30%; }
.header-left h1 a { text-indent: -9999px; }

.header-left h1 { 
  width: 54%;
  display: inline-block;
}

.header-left h1 img {
  width: 78%;
  border-right: 1px solid #59586C;
  padding-right: 20px;
  float: left;
}

.header-left div { display: inline-block; }

.arc {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  color: #A5A7AA;
  font-size: 16px;
  text-transform: capitalize; 
}

.arc:hover,
.menu nav li a:hover {
  color: #54BBE6;
  transition: 1.5s;
}

.menu { width: 70%; }
.hamburger { display: none; }
.bar { text-indent: -9999px; }

.menu nav ul {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.menu nav li {
  flex-basis: 11%;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
}

.menu nav li a { 
  color: #ECECEE;
  font-weight: bold;
}

.search {
  margin-top: 10px;
  text-indent: -9999px;
  color: #ECECEE;
}

.search::before  {
  float: right;
  color: inherit;
  content: "\f002";
  font-size: 15px;
  font-family: "FontAwesome";
  text-indent: 0;
}
.search:hover {
  color: #54BBE6;
  transition: 2s;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner-section { 
  max-width: 1519px;
  border-right: 18px solid #56595F;
  margin: 0 auto;
  background-color: #22242E; 
}

.ban { display: none; }

.banner-section .wrapper {
  max-width: 1518px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-left { flex-basis: 38%; }
.banner-section figure { flex-basis: 62%; }
.banner-section figure img { height: 100%;}

.banner-left h2 {
  margin-top: 405px;
  margin-left: 11%;
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.banner-left span {
  margin: 18px 0 240px 11%;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 50px;
  font-size: 23px;
}

.banner-left h2 span {
  margin-bottom: 1px;
  margin-left: 0;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 3px;
}

.banner-section .slider { margin-left: 12%; }
.slider span:first-child { margin-left: 0; }

.slider span {
  width: 10%;
  border-bottom: 2px solid #43454E;
  margin-left: 2%;
  margin-bottom: 115px;
  display: inline-block;
  text-indent: -9999px; 
}

.slider .dot {
  border-bottom: 8px solid #fff;
  line-height: 16px;
}

.slider span:hover {
  border-bottom: 8px solid #fff;
  line-height: 16px;
  transition: 0.3s;
}

.project-section {
  padding-bottom: 400px;
}

.project-left p:first-child {
  margin-top: 95px;
  color: #CBCCCE;
  font-size: 18px;
  letter-spacing: 35px;
  text-transform: uppercase;
}

.project-left {
  width: 40%;
  display: inline-block;
}

.project-left h2 {
  margin-top: 78px;
  font-size: 55px;
  text-transform: uppercase;
}

.project-left h2 span { display: block; }
.project-left h2 span:last-child { font-weight: 900; }
.project-left p:last-child::first-letter { text-transform: capitalize; }

.project-left p:last-child {
  margin-top: 40px;
  color: #D0D1D2;
  font-size: 21px;
  line-height: 28px;
}

.project-right figure {
  width: 82%;
  display: inline-block;
  vertical-align: top;
  margin-top: 95px;
  margin-left: 19%;
}

.project-right figure:last-child {
  top: 380px;
  width: 41%;
  margin-left: 6%;
  position: absolute;
}

.ask-section h3 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;   
}

.project-right { 
  width: 59%;
  position: relative;
  display: inline-block;
  vertical-align: top; 
}

.ask-section h3 span {
  display: block;
  font-weight: 900;
}

.ask-section form { 
  margin-top: 50px;
  text-align: center;
}

.ask-section form div { margin-top: 50px; }

form div input {
  width: 66%;
  display: inline-block;
  padding: 20px 0;
  font-size: 22px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #E7E7E7;
}

form ::placeholder { color: #D0D1D2;}

form textarea {
  width: 66%;
  margin-top: 60px;
  font-size: 22px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #E7E7E7;
}

form a {
  width: 13%;
  padding: 30px 20px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;  
  background-color: #22242D;
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  margin-top: 60px;
  background-color: #1F1F20;
}

.footer-top { padding: 35px 0; }

.footer-top a img {
  width: 50%;
  border-right: 1px solid #59586C;
  padding-right: 20px;
  float: left;
}









 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  